---
permalink: '/_redirects'
eleventyExcludeFromCollections: true
---
https://serverless-gems.netlify.app/* https://netlify.serverless-gems.dev/:splat 301!

/privacy/ https://serverless-gems.dev/privacy/
/license/ https://serverless-gems.dev/license/
/about/ https://serverless-gems.dev/about/

/functions/ / 301

{# Misc #}
/sitemap/ /sitemap.xml
/sitemap_index.xml /sitemap.xml

{# Plausible proxy #}
/api/event https://plausible.io/api/event 200

{# API Proxy #}
/api/* /.netlify/functions/:splat 200
